.ml11 {
    font-weight: 700;
    font-size: 3.5em;
}

@media only screen and (max-width: 767px) {
    .navbar {
        margin-top: .5em;
    }

    .navbar-nav {
        margin-top: .5em;
    }
}

@media only screen and (max-width: 609px) {
    .ml11 {
        font-weight: 700;
        font-size: 3em;
    }
}

@media only screen and (max-width: 377px) {
    .ml11 {
        font-weight: 700;
        font-size: 2.6em;
    }
}

.ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}

.ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #fff;
    transform-origin: 0 50%;
}

.ml11 .line1 {
    top: 0;
    left: 0;
}

.ml11 .letter {
    display: inline-block;
    line-height: 1em;
}

/* NAVBAR */

.navbar {
    padding: 0px;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.nav-pills .nav-link.nav-begin.active,
.nav-pills .nav-link.nav-begin {
    border-bottom-left-radius: .25rem;
}

.nav-pills .nav-link.nav-end.active,
.nav-pills .nav-link.nav-end {
    border-bottom-right-radius: .25rem;
}

.navbar-nav {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

@media only screen and (max-width: 767px) {

    .nav-pills .nav-link.nav-begin.active,
    .nav-pills .nav-link.nav-begin {
        border-bottom-left-radius: 0px;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
    }

    .nav-pills .nav-link.nav-end.active,
    .nav-pills .nav-link.nav-end {
        border-bottom-left-radius: .25rem;
    }

    .navbar-nav {
        border-radius: .25rem;
    }
}

.navbar-toggler {
    border-radius: 0px;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.nav-link {
    margin: auto;
}

.navbar {
    width: max-content;
    margin: auto;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: black;
    background-color: #fdb50e;
}

.img-skill-max-size {
    max-height: 350px;
    height: 100%;
}

body {
    position: relative;
}

body::-webkit-scrollbar {
    width: 0.4em;
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #f8f9fa;
    height: 30px;
}

body::-webkit-scrollbar-track-piece {
    display: none;
}



.card-hover {
    transition: all 0.2s ease;
    cursor: pointer
}

.card-hover:hover {
    transform: scale(1.05)
}

span.anchor {
    margin-top: -56px;
    display: block;
    height: 56px;
    visibility: hidden;
    position: relative;
}

.firstDivResponsive {
    height: 56px;
}

section.min-vh-100-nav {
    min-height: calc(100vh);
}

.polimi-gradient {
    background: linear-gradient(227deg, #3aa3ca, #969696);
    background-size: 100% 100%;
}

.oli-gradient {
    background: linear-gradient(227deg, #b4cbed, #e2a4ad);
    background-size: 100% 100%;
}

a,
a:hover,
a:visited,
a:active {
    color: inherit;
    text-decoration: none;
}

.vh-min-100 {
    min-width: 100vh;
}

.card-img-top {
    width: auto;
}

.row .col.middle-line {
    border-right: .0625rem solid #dce6f3;
}